[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[scripts]
test-oidi = "python ./oidinterpreter/tests/tests_oidinterpreter.py"

[packages]
requests = "*"
oidinterpreter = {editable = true,path = "./oidinterpreter"}

[requires]
python_version = "3.7"

[dev-packages]
dacite = "*"
