global
  user haproxy
  group haproxy
  log /dev/log    local0 debug
  log /dev/log    local1 notice
  chroot /var/lib/haproxy
  daemon
  stats socket /run/haproxy/admin.sock mode 660 level admin
  stats timeout 30s
  nbproc 1
  lua-load /etc/haproxy/lua/interpret_scope.lua

defaults
  log global
  mode http
  option redispatch
  option httplog
  option forwardfor
  retries 3
  timeout http-request 10s
  timeout queue 1m
  timeout connect 10s
  timeout client 1m
  timeout server 1m
  timeout check 10s

listen host_ip
  bind {{ the_conf.ip }}:8888
  # -- Unnecessary for real HAProxy (no http_proxy)
  acl is_neutron  hdr(host) -m str 10.0.2.15:9696
  acl not_neutron hdr(host) -m str 10.0.2.15
  http-request set-header Host {{ the_conf.ip }}:8888 if not_neutron
  http-request set-header Host {{ the_conf.ip }}:9696 if is_neutron
  # --
  http-request del-header X-Forwarded-Proto if { ssl_fc }
  use_backend %[lua.interpret_scope]

{% for os_conf in os_confs %}
{% for s in services|selectattr('Region', 'equalto', os_conf.name) %}
backend {{ s.Region }}_{{ s['Service Type'] }}_{{ s.Interface }}
{# FIXME: the 80 or 9696 information should be into the services.conf #}
{% if os_conf == the_conf %}
{% if s['Service Type'] != 'network'  %}
    server {{ s.Region }} 10.0.2.15:80 check inter 2000 rise 2 fall 5
{% else %}
    server {{ s.Region }} 10.0.2.15:9696 check inter 2000 rise 2 fall 5
{% endif %}

{% else %}
{% if s['Service Type'] != 'network' %}
    http-request set-header Host {{ os_conf.ip }}:8888
    server {{ s.Region }} {{ os_conf.ip }}:8888 check inter 2000 rise 2 fall 5
{% else %}
    http-request set-header Host {{ os_conf.ip }}:9696
    server {{ s.Region }} {{ os_conf.ip }}:9696 check inter 2000 rise 2 fall 5
{% endif %}
{% endif %}

{% endfor %}
{% endfor %}
