
[Unit]
Description = Devstack devstack@n-cond-cell1.service

[Service]
Environment="HTTP_PROXY=http://{{ the_conf.ip}}:8888"
ExecReload = /bin/kill -HUP $MAINPID
TimeoutStopSec = 300
KillMode = process
ExecStart = /usr/local/bin/nova-conductor --config-file /etc/nova/nova_cell1.conf
User = stack

[Install]
WantedBy = multi-user.target
