
[Unit]
Description = Devstack devstack@q-agt.service

[Service]
Environment="HTTP_PROXY=http://{{ the_conf.ip}}:8888"
ExecReload = /bin/kill -HUP $MAINPID
TimeoutStopSec = 300
KillMode = process
ExecStart = /usr/local/bin/neutron-openvswitch-agent --config-file /etc/neutron/neutron.conf --config-file /etc/neutron/plugins/ml2/ml2_conf.ini
User = stack

[Install]
WantedBy = multi-user.target
